.container {
    transition: opacity .2s ease-in-out;
&:hover {
    opacity: .6;
}
}

.card-custom-style {
height: 180px;
width: 180px;
border-radius: 0;
overflow: hidden;
cursor: pointer;


img {
    height: 100%;
    width: 100%;
}
}

.text-card-custom-style{
    color: white;
    max-width: 180px;
    font-size: .7rem;
    padding-top: .8rem;
    font-weight: 300;
    cursor: pointer;
}   
