.main-jumbotron {
    background-color: rgb(28, 28, 28);
    padding-top: 4rem;
    padding-right: 8rem;
    padding-left: 8rem;
    padding-bottom: 4rem;
    position: relative;

    h5 {
        color: white;
        text-transform: uppercase;
    }
}

.background-jumbotron  {
    min-height: 400px;
    background-image: url('../../images/jumbotron.jpg');
}

.banner-custom {
    position: absolute;
    max-width: 10rem;
    font-size: 1.8rem;
    padding: .8rem .2rem;
    left: 8rem;
    top: -5%;
    h5{
        font-weight: 700;
        font-size: 1.3rem;
        text-transform: uppercase;
    }
}

.banner-custom-load-more{
    position: absolute;
    cursor: pointer;
    max-width: 10rem;
    padding: .6rem .2rem;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);

    &:hover{
        background-color: darken(rgb(13, 110, 253), 10%) !important;
    }
    h5{
        font-size: .8rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }
}