.custom-single-comic-image {
    position: absolute;
    left: 20%;
    top: 17rem;
    border: 1px solid white;
    z-index: 999;
    
}

.custom-comic-image-section {
    .custom-division-line-header-comic {
        height: 4rem;
        width: 100%;
        background-color: rgb(13,110,253);
    }
}